# Python ভার্চুয়াল এনভায়রনমেন্ট
.venv/
venv/
ENV/

# পাইথন ক্যাশ ফাইল
__pycache__/
*.py[cod]
*$py.class

# এনভায়রনমেন্টাল ভেরিয়েবল (পাসওয়ার্ড সুরক্ষার জন্য)
.env

# অপারেটিং সিস্টেমের বাড়তি ফাইল
.DS_Store
Thumbs.db
